.popup__content_for-image {
  width: 75%;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}

@media screen and (max-width: 600px) {
  .popup__content_for-image {
    width: 75%;
  }
}